.movieContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 85% 15%;
  background-color: pink;
  height: auto;
  width: 50%;
}

.movieTitle{
  font-size: 30px;
  text-align: center;
  grid-row: 2;
  grid-column: 1 / span 2;
}

.moviePoster{
  height: 70%;
  width: auto;
  margin: 5%;
  grid-column: 1;
}

.movieInformation{
  margin: 5%;
}

.poster{
  width: 100%;
  height: auto;
}

.showMore{
  height: 100px;
  overflow: hidden;
}
