.movieContainer{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 80% 20%;
  background-color: rgba(244,235,160,1);
  height: 100%;
  width: 70%;
  float: left;
}
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Faster+One|Knewave');
.movieTitle{
  font-family: 'Fascinate INline',cursive;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  color: #f98ca4;
  grid-row: 2;
  grid-column: 1 / span 2;
  margin: 20px;
  text-shadow: -1px -1px 0 #6e1f58, 1px -1px 0 #6e1f58, -1px 1px 0 #6e1f58, 1px 1px 0 #6e1f58, 1px 0px 0px #65f283, 0px 1px 0px #65f283,
  2px 1px 0px #65f283, 1px 2px 0px #65f283;
}

#movieDesc{
  max-height: 50%;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: #8cd6f9;
}
::-webkit-scrollbar-track{
  background-color: rgba(244,245,165,1);
}

.moviePoster{
  height: 70%;
  width: auto;
  margin: 5%;
  grid-column: 1;
}

.movieInformation{
  margin: 5%;
}

.poster{
  width: auto;
  height: 130%;

}

.randomizeButton{
  text-align: center;
  margin: auto;
  background-color: white;
  width: 70%;
}

.randomizeButton p{
  margin: 50px;
  font-size: 20px;
  font-family: 'Faster one';
}
